 .box-form {
    display: grid;
    place-items: center;
    padding: 0.25rem; 
    .field-name{
      width: 50%;
    }
  }
.characters {
  padding: 0.5rem;
  display: grid;
  width: 100%;
  place-items: center;

  .list {
    display: grid;
    width: 100%;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem
  }

  .card {
    display: grid;
    padding: 0.5rem;
    min-height: 11.75rem;
    .footer {
      display: grid;
      padding: 0.25rem;
      grid-auto-flow: column;
      gap: 0.25rem;
      justify-content: end;
    }
  }
}